.DS_Store

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.iml

target
src/main/resources/client
src/main/resources/META-INF/plugin-descriptor


src/main/frontend/yarn.lock
src/main/frontend/node
src/main/frontend/node_modules